@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

*{
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

/* gets rid of scroll bar on product page */

::-webkit-scrollbar {
  display: none;
}

/* highlights the background of the side menu bar*/

@media (max-width:640px) {
  a.active {
    background-color: black;
    color: white;
  }
}